@model CreditReport.Data.PersonalInformation.Question

@{
    ViewData["Title"] = "Index";
}
<div class="container">
    <h2>Preguntar por personas</h2>

    <div class="panel-group">
  
        <div class="panel panel-primary">
            <div class="panel-heading">Agregar una Repuesta</div>
            <div class="panel-body">


                <form class="navbar-form navbar-left" method="post" action="/preguntas/AgregarPregunta">
                    <input type="hidden" asp-for="QuestionID" />
                    <div class="btn-group">
                        @*<input name="NuevaPregunta" class="form-control" />*@
                        <textarea name="NuevaPregunta" rows="5" cols="40" placeholder="Favor describir la situacion lo mas detallada posible"></textarea>
                    </div>
                        <div class="btn-group">
                            <button class="btn btn-primary" type="submit">
                                <i class="glyphicon glyphicon-plus"></i>
                                Agregar
                            </button>

                            <a asp-action="Index" class="btn btn-default">
                                Regresar
                            </a>
                        </div>

                        @if (Model == null)
                        {
                            <div class="alert alert-warning">
                                <strong>Información no Encontrada</strong>
                            </div>
                        }
                </form>
            </div>
        </div>

        <div class="panel panel-info">
            <div class="panel-heading"><i class="fa fa-question-circle" style="font-size:24px"></i> @Model.Description</div>
            <div class="panel-body">


                <table class="table">
                    <thead>
                        <tr>
                            <th>

                                <a asp-action="Index" asp-route-sortOrder="@ViewData["descriptionSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Descripción</a>

                            </th>

                            <th>
                                Fecha

                            </th>


                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.ChildrenQuestion)
            {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Created)
                                </td>


                                <td>
                                    @*<a asp-action="Edit" asp-route-id="@item.PersonID">Editar</a> |
                                        <a asp-action="Details" asp-route-id="@item.PersonID">Detalles</a> |
                                        <a asp-action="Delete" asp-route-id="@item.PersonID">Borrar</a>*@
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
 
            </div>

        </div>
    </div>
</div>