@model CreditReport.Data.PersonalInformation.Person

@{
    ViewData["Title"] = "Delete";
}
<h2>Borrar</h2>

<div class="panel panel-primary">
    <div class="panel-heading">Persona</div>
    <div class="panel-body">
        <div class="alert alert-danger">
            <strong>Esta seguro de querer borrar esta persona?</strong>
        </div>

    </div>
</div>

<div class="panel panel-info">
    <div class="panel-heading">Informaciones</div>
    <div class="panel-body">
      
        <form asp-action="Delete">
            @if (ViewData.ModelState.Keys.Any(k => ViewData.ModelState[k].Errors.Any()))
            {
                <div class="alert alert-danger">
                    <button class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                </div>
            }

            <dl class="dl-horizontal">
                <input type="hidden" asp-for="PersonID" />
                <dt>
                    @Html.DisplayNameFor(model => model.Identification)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Identification)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.FirstName)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.FirstName)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.LastName)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.LastName)
                </dd>

            </dl>


            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                <a asp-action="Index">Regresar</a>
            </div>
        </form>
    </div>
</div>
 