@model CreditReport.Models.PersonCreditListModel

@{
    ViewData["Title"] = "Details";



}
<div class="container">
    <h2>Consultar Historial Crediticio Persona</h2>

    <div class="panel-group">
        <div class="panel panel-primary">

            <div class="panel-heading">Datos Personales</div>

            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Person.Identification)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Person.Identification)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Person.FullName)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Person.FullName)
                </dd>
                
                
            </dl>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">@Html.DisplayNameFor(model => model.History)</div>
            <div class="panel-body">

                <table class="table">
                    <tr>
                        <th colspan="5">
                            <div class="btn-group">
                                <a asp-controller="People" asp-action="AgregarHistorial" class="btn btn-primary" asp-route-id="@Model.Person.PersonID">
                                    <i class="glyphicon glyphicon-plus"></i>  Agregar historial
                                </a>
                             
                            </div>
                        </th>
                    </tr>
                    <tr>

                        <th>@Html.DisplayNameFor(model => Model.History.FirstOrDefault().Empresa)</th>
                        
    <th>@Html.DisplayNameFor(model => Model.History.FirstOrDefault().Fecha)</th>

                        <th>@Html.DisplayNameFor(model => Model.History.FirstOrDefault().Description)</th>

                    </tr>
                    @foreach (var item in Model.History)
                    {

                        <tr>
                           
                            <td>
                                @Html.DisplayFor(modelItem=>item.Empresa)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Fecha )

                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>

                        </tr>
                    }
                </table>

            </div>
        </div>
    </div>
</div>

