@model CreditReport.Data.PersonalInformation.Person

@{
    ViewData["Title"] = "Details";



}
<div class="container-fluid bg-grey text-center">

    <h2>Consultar Historial Crediticio Persona</h2>

    <div class="panel-group">
        <div class="panel panel-primary">

            <div class="panel-heading">Datos Personales</div>

            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Identification)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Identification)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.FullName)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.FullName)
                </dd>


            </dl>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">@Html.DisplayNameFor(model => model.CreditHistories)</div>
            <div class="panel-body">

                <table class="table">
                    <tr>
                        <th colspan="5">
                            <div class="btn-group">
                                <a asp-controller="People" asp-action="AgregarHistorial" class="btn btn-primary" asp-route-id="@Model.PersonID">
                                    <i class="glyphicon glyphicon-plus"></i>  Agregar historial
                                </a>

                            </div>
                        </th>
                    </tr>
                    <tr>
                        <th class="text-center">@Html.DisplayNameFor(model => Model.CreditHistories.FirstOrDefault().Note)</th>
                        <th class="text-center">@Html.DisplayNameFor(model => Model.CreditHistories.FirstOrDefault().CreateBy)</th>
                        <th class="text-center">@Html.DisplayNameFor(model => Model.CreditHistories.FirstOrDefault().CreateDate)</th>

                    </tr>
                    @foreach (var item in Model.CreditHistories)
                    {

                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Note)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CreateBy)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CreateDate)

                            </td>


                        </tr>
                    }
                </table>

            </div>
        </div>
    </div>
</div>

